
- @markets.each do |market|
  .span-24.market
    .span-10
      = market.name
    .span-3
      = market.start_date
    .span-3
      = market.end_date
    .span-8.last
      - if market.end_date.nil?
        Open

= link_to "Create market", new_market_management_path
