
#navigation_list li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
/*
#site_navigation{
    margin-top: 30px;
}*/

#site_title{
    font-weight: bold;
    font-size: 24pt;
}

#content{
    margin-top: 15px;
}

.market{
    margin-bottom: 40px;
}

#market-name{
    font-weight: bold;
    font-size: 18pt;    
}

.flash{
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;   
	font-size: 16pt;
	font-weight: bold;
}

.flash_message {
	background: #99FF99;
	border-top: 2px solid #339900;
	border-bottom: 2px solid #339900;
}

.flash_notice {
	background: #FFF6BF;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
}
	
.flash_error {
	background: #FFCCCC;
	border-top: 2px solid #FF0000;
	border-bottom: 2px solid #FF0000;
}
	
/*
body {
    background: #FFFFCC;
}*/

#navigation_list{
    padding-left: 0px;
}
#user_summary{
    margin-top: 15px;
    margin-bottom: 15px;
}

#username, #usercash{
    font-weight: bold;
    font-size: 18pt;
}

.transaction_form input[type='number']{
    width: 50px;
}

/*.outcomes-body*/

#outcomes{
    margin-top: 10px;
}
.outcome {
    margin-top: 20px;
}