#market-date
  As of:
  = DateTime.now.strftime("%m/%d/%Y %H:%M:%S")  
.span-24.last
  %table.outcome
    %th Outcomes
    %th Sell Price
    %th Buy Price
    - if ! current_user.nil?                
      %th Shares Owned
    
    %th Total Shares Held
    %th

    - cache(:fragment => "market_#{@market.id}_outcomes") do
      = render @market.outcomes
