#last-trade-allowed-date
  Last trade allowed at: 
  = @market.last_trade_allowed_date.in_time_zone("Central Time (US & Canada)").strftime("%m/%d/%Y %H:%M") 


#market-date
  Last updated:
  = DateTime.now.strftime("%m/%d/%Y %H:%M:%S")  
.span-24.last#outcomes
  .span-24.last#outcomes-header
    .span-5 
      &nbsp;
    .span-4
      Outcome
    .span-4 
      Prices
    .span-6.last
      Owned
  .span-24.last#outcomes-body
    = render @market.outcomes
