.span-24#leaderboard
	- @markets.each do |market|
		.market
			.span-4
				.market-description
					= market.name
				.market-start
					= market.start_date
			.span-20.last
				%table.outcome
					%th Outcomes
					%th Start Price
					%th Current Price
					
					- market.outcomes.each do |outcome|
						%tr
							%td= outcome.description
							%td= outcome.start_price
							%td Current Price??
